/* www/styles.css */

body { 
    background-color: #0d122b;
    background-image: radial-gradient( ellipse at center, #1a2550 0%, #0d122b 45% ),
                      linear-gradient( 135deg,
                                       #21287c 0%,
                                       #0d122b 35%,
                                       #0d122b 65%,
                                       #16327c 100% );
    background-attachment: fixed;  
    background-size: cover;
    color: white; 
}
/* Aquí puedes añadir otros estilos que hemos usado antes para las tarjetas, inputs, etc. */